*
body,html
{
    margin: 0px;
    height: 100%;
    background-color: #444;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid
{
    width: 60%;
}